h1{
  color: rgba(0, 128, 0, 0.877);
  background-color: lightgray;

}
h2{
  color: blue;
  font-style: italic;
  text-decoration-line: underline;
}
header{
  background-color: red;
  background-image: url(https://edube.org/uploads/media/default/0001/04/portfolio.jpg);
  background-repeat: no-repeat;

}
main{
  background-image: linear-gradient(to bottom, blue, white);

}
body{
  font-family: Arial, sans-serif;

}
p{
  font-size: 18px;

}
ul {
    list-style-type: square;
}

li {
    line-height: 1.6;
    padding-left: 10px;
}
a:link {
    color: darkblue;
}

a:visited {
    color: purple;
}

a:hover {
    color: red;
}
img {
    width: 100%;
    max-width: 600px;
    border-radius: 10px;
    box-shadow: 5px 5px 10px gray;
}
